body{
    margin-left: 70px;
    font-size: 5px;
}

p{
    color:blue;
    

    



}
.propaganda{
    color: red;
    font-size: 30px;
    
}

.h01{
    color:blueviolet;
    font-size: 40px;
    
}